@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav-container{
    width: 100%;
    min-height: 6rem;
}
.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 6rem;
}
.logo{
    display: flex;
    align-items: center;

}
.logo h1{
    font-size: 2rem;
}
.nav-links ul{
    display: flex;
    align-items: center;
   list-style-type: none;
   gap: 2rem;
   font-size: 1.1rem;
   color: #4D4D4D;
}
.nav-btns{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-btns a{
    color: #4CAF4F;
    text-decoration: none;
    font-size: 0.85rem;
}

.signup,.register,.learnmore,.get-a-demo{
    background-color: #4CAF4F;
    color: white;
    padding: 0.7rem 1.3rem;
    border: none;
    font-weight: 500;
    border-radius: 0.3rem;
}
.register{
    width: 20%;
}
.get-a-demo{
    padding: 0.7rem 1.5rem;
    border-radius: 0;
    font-weight: 200;
}
.hero{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-text{
    display: flex;
  flex-direction: column;  
  gap: 1.5rem;
}
.hero-text h1{
    font-size: 2.5rem;
    color: #4D4D4D;
    width: 70%;
}
.hero-text h1>span{
    color: #4CAF4F;
}
.hero-text p{
    color: #4D4D4D;
    font-size: 0.85rem;
}
.client-section{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 1rem;
}
.our-clients h2{
    color: #4D4D4D;
    font-size: 2rem;
    font-weight: 500;
}
.our-clients p{
    color: #4D4D4D;
    font-size: 0.85rem;
}
.client-logos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.community{
    width: 100%;
    height:280px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}
.com-sub{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-height: 260px;
}

.com-sub h2{
    font-size: 1.5rem;
    color: #3d3c3c;
    
}
.com-sub p{
    font-size: 0.90rem;
    color: #4D4D4D;
}
.client-section h1{
    font-size: 2rem;
    color: #3d3c3c;
    width: 35%;
    text-align: center;
}
.pixelgrade{
    width: 100%;
    min-height: 443px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pixelgrade-sub{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 12rem;
}
.pixel-image{
    width: 20%;
}
.pixelgrade-text{
    width: 50%;
    display: flex;
flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
.pixelgrade-text h2{
    color: #4D4D4D;
    font-size: 2rem;
}
.pixelgrade-text p{
    color: #4D4D4D;
    font-size: 0.90rem;

}
.learnmore{
    width: 30%;
}
.stats{
    width: 100%;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
    height: 300px;
    padding: 0 3rem;
}
.stats-sub{
    display:grid;
    grid-template-columns: 1fr 2fr;
    width: 30%;
    gap: 2rem;
}
.stats-sub div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    gap: 1rem;
}
.stats-sub div h1{
 font-size: 1rem;
}
.helping h3{
    color: #4CAF4F;
    font-size: 2rem;
}
.helping h2{
    font-size: 2rem;
    color: #2e2c2c;
}
.sixth-section{
width: 100%;
min-height: 390px;
background-color: #F5F7FA;
display: flex;
align-items: center;
justify-content: center;
gap: 2rem;
}
.sixth-image {
    width: 20%;
    text-align:center;
}
.sixth-image img{
    width: 100%;
}
.sixth-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sixth-text p{
    color: #3d3c3c;
    font-size: 0.90rem;
}
.sixth-text h3{
    color: #4CAF4F;
}

.sixth-text h3+p{
    font-size: 0.70rem;
    color: gray;
}
.sixth-text span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sixth-text span a{
    color: #4CAF4F;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
   height: 1rem;
}
.marketing{
    width: 100%;
    min-height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1.5rem;
    padding: 2rem 0;

}
.marketing-text{
    margin: auto;
    width: 50%;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.marketing-text h2{
    color: #4D4D4D;
    font-size: 2.5rem;
}
.marketing-text p{
    color: #717171;
    font-size: 1rem;
}
.marketing-images{
    width: 90%;
    display: flex;
    gap: 2rem;
    position: relative;
height: 400px;
}
.marketing-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}
.mark-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
    width: 25%;
    min-height: 176px;
    background-color: #F5F7FA;
    position: absolute;
    border-radius: 0.6rem;
    top: 50%;
    padding: 1rem 0.5rem;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 8px 16px 0 #ABBED166;
}
.mark-text p{
    color: #717171;
}
.mark-text a{
    text-decoration: none;
    color: #4CAF4F;
    word-spacing: 1rem;
line-height: 1.5rem;
font-size: 1.1rem;
}
.mark-text a>i{
line-height: 1.5rem;
font-size: 0.85rem;
}

.demo{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
    background-color: #F5F7FA;
}
.demo h1{
    color: #263238;
    font-size: 3rem;
    width: 40%;
    text-align: center;
}
.footer{
    width: 100%;
    min-height: 328px;
    background-color: #263238;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
}
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
  min-width: 20%;
  height: 100%;
}
.footer-left h2{
    font-size: 1.8rem;
}
.footer-left p{
    font-size: 0.85rem;
}
.footer-icons{
    font-size: 1.5rem;
    font-weight:lighter;   
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-icons i{
    border-radius: 50%;
    background-color: #3C464C;
    padding: 0.4rem;

}
.footer-icons i:hover{
    color: #4CAF4F;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.footer-logo+span{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.footer-right{
    display: flex;
    align-items: center;
    min-width:50% ;
    height: 100%;
    gap: 5rem;
}
.footer-right-sub{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    color: white;
    align-self: baseline;
    width: 100%;
}
.footer-right-sub a{
    color: #D9DBE1;
    text-decoration: none;
    font-size: 0.85rem;
}
.footer-right-sub a:hover{
    color: #4CAF4F;
    text-decoration: underline;
}
.email{
    height: 2.5rem;
    background-color: #515B60;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    width: 100%;
}
.email input{
    background-color: #515B60;
    border: none;
    outline: none;
}
.email input::placeholder{
    color: #D9DBE1;
}
.email i{
    font-size: 1.2rem;
}
.email i:hover{
    color: #4CAF4F;
    cursor: pointer;
}